/* Body.css */

.container {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    box-sizing:border-box;
}

.image {
    margin-top:20px;
    text-align:center;
}
